WP_BACKEND_URL=YOUR_BACKEND_URL
VITE_VAPID_APP_PUBLIC_KEY=YOUR_VAPID_PUBLIC_KEY
VITE_STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY
VITE_GOOGLE_WEB_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID
PROXY_SHARED_SECRET=YOUR_AUTO_GENERATED_PROXY_SECRET